################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/windows/bin
/windows/obj
/golded3/mygolded.h
*.user
